


    <style>
        .btn-login {
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
        }
    </style>

<%- include("header",{userName:null}) -%>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Reset Password</h5>
                        <form action="/expenses/api/v1/auth/resetPassword" method="post"
                            onsubmit="return verify()">
                            <% if(!sent){ %>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="name@example.com" name="email" required>
                                    <label for="floatingInput">Email address</label>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"
                                        formaction="/expenses/api/v1/auth/otp" method="post">Send
                                        OTP</button>
                                </div>

                                <% if(message !="" ) { %>
                                    <div class="text-warning">
                                        <%= message %>
                                    </div>
                                    <% } %>

                                        <% } %>
                                            <% if(sent){ %>
                                                <div class="form-floating mb-3">
                                                    <input type="email" class="form-control" id="floatingInput"
                                                        placeholder="name@example.com" name="email" value="<%=email %>">
                                                    <label for="floatingInput">Email address</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" placeholder="Enter OTP"
                                                        id="otp" name="otp">
                                                    <label for="otp">Enter OTP</label>

                                                    <button type="button"
                                                        class="btn btn-primary btn-login text-uppercase fw-bold mt-2"
                                                        id="" onclick="verifyOtp(`<%= result %>`)">Verify
                                                        OTP</button>

                                                        <button class="btn btn-primary btn-login text-uppercase fw-bold mt-2"
                                                        formaction="/expenses/api/v1/auth/otp" method="post" id="resend">Re-Send
                                                        OTP
                                                        <span id="count"></span>
                                                      
                                                    </button>
                                                    <span id='verify'></span>
                                                        
                                                </div>
                                                
                                                
                                                <div id="form"></div>

                        </form>
                        <% } %>
                            <div class="d-flex align-items-center justify-content-center pb-4 m-4">
                                <p class="mb-0 me-4">Don't have an account?</p>
                                <button onclick="window.location.href='/expenses/api/v1/auth/signup'" type="button"
                                    class="btn btn-primary btn-login">Create new</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="\script\temp.js"></script>
    <script src="\script\otp.js"></script>
    <%- include("footer") -%>